/*
    

    font-family: 'Saira', sans-serif;

    font-family: 'Saira Condensed', sans-serif;


*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.wraper {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 100vh;
    background-color: #29a6dc;
    overflow: hidden;
}

header img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 48%;
}

header div.me {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 10%;
    right: 10%;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

header h1 {
    margin-top: 10px;
    font-size: 20px;
}

header h2 {
    margin-top: -5px;
    font-size: 20px;
    font-weight: normal;
}

header button {
    margin-top: 40px;
    padding: 0 20px;
    line-height: 32px;
    font-family: 'Saira', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 12px;
    background-color: transparent;
    border: 2px solid white;
}



/*USTAWIENIA DLA TRYBU PORTRAIT*/

@media (orientation: landscape) {

    header img {
        height: 60%;
        bottom: 0;
        right: -5px;
    }

    header div.me {
        top: 17%;
        left: 7%;
        right: 50%;
    }

    header button {
        margin-top: 40px;
    }
}

@media (orientation: portrait) and (min-width: 360px) {
    header img {
        height: 46%;
    }

    header div.me {
        top: 13%;
        font-size: 50px;
    }

    header div h1,
    header div h2 {
        font-size: 30px;
    }

    header button {
        font-size: 18px;
        line-height: 36px;
    }

}

@media (orientation: portrait) and (min-width: 768px) {
    header img {
        height: 54%;
    }

    header div.me {
        top: 13%;
        font-size: 70px;
    }

    header div h1,
    header div h2 {
        font-size: 45px;
    }

    header h2 {
        margin-top: -15px;
    }

    header button {
        font-size: 25px;
        line-height: 40px;
        padding: 0 30px;
    }

}

@media (orientation: portrait) and (min-width: 800px) {
    header img {
        height: 50%;
    }

    header div.me {
        top: 17%;
        font-size: 70px;
    }

    header div h1,
    header div h2 {
        font-size: 45px;
    }

    header h1 {
        margin-top: 50px;
    }

    header h2 {
        margin-top: -15px;
    }

    header button {
        font-size: 25px;
        line-height: 40px;
        margin-top: 80px;
    }

}


/*USTAWIENIA DLA TRYBU LANDSCAPE*/

@media (orientation: landscape) and (min-width: 640px) {

    header div.me {
        left: 10%;
    }
    header img {
        height: 60%;
        right: 0;
    }

    header h2 {
        margin-top: -10px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    header img {
        height: 54%;
    }

    header div.me {
        top: 25%;
        left: 5%;
        font-size: 70px;
    }

    header div h1,
    header div h2 {
        font-size: 45px;
    }

    header h1 {
        margin-top: 40px;
    }

    header h2 {
        margin-top: -15px;
    }

    header button {
        font-size: 25px;
        line-height: 50px;
        margin-top: 80px;
        padding: 0 40px;

    }

}

@media (orientation: landscape) and (min-width: 1280px) {
    header img {
        height: 80%;
    }

    header div.me {
        top: 20%;
        left: 10%;
        font-size: 70px;
        text-align: left;
    }

    header div h1,
    header div h2 {
        font-size: 45px;
    }

    header h1 {
        margin-top: 40px;
    }

    header h2 {
        margin-top: -15px;
    }

    header button {
        font-size: 25px;
        line-height: 50px;
        margin-top: 80px;

    }

}

@media (orientation: landscape) and (min-width: 1600px) {
    header img {
        height: 80%;
    }

    header div p {
        font-size: 120px;

    }

    header div h1,
    header div h2 {
        font-size: 60px;
    }

    header h1 {
        margin-top: 40px;
    }

    header h2 {
        margin-top: -15px;
    }

    header button {
        font-size: 30px;
        line-height: 60px;
        margin-top: 80px;

    }
}


@media (min-width: 1024px) {
    header button {
        cursor: pointer;
        transition: .3s;
    }
    header button:hover {
        background-color: #fff;
        color: #29a6dc;
    }
}

/*    SEKCJA 1*/

.features {
    max-width: 1600px;
    margin-top: 5% auto 0 auto;
    padding: 7%;
    text-align: center;
}

.features img {
    width: 100%;
    margin-top: 20px;
}

.features h1 {

    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.features p {
    margin-top: 20px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;
}



@media (orientation: landscape) and (min-width: 360px) {
    .features img {
        width: 80%;
    }
    .features h1 {
        font-size: 28px;
    }

    .features h2 {
        font-size: 20px;
    }
    .features p {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .features img {
        width: 70%;
    }
    .features h1 {
        font-size: 40px;
    }

    .features h2 {
        font-size: 24px;
    }
    .features p {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .features {
        margin-top: 50px;
        padding: 0 3%;
    }

    .feature {
        width: 33.33%;
        padding: 0 2%;
        float: left;
    }

    .features h1 {
        margin-bottom: 30px;
        font-size: 50px;
    }

    .features p {
        font-size: 14px;
    }
}

@media (min-width: 1600px) {

    .feature {
        padding: 0 4%;
    }
    .features h1 {
        font-size: 60px;
    }

    .features h2 {
        font-size: 28px;
    }
    .features p {
        font-size: 18px;
    }
}


/*PROJECTS*/

section.projects {
    padding: 0 0 2px 0;
    background-color: black;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
}

.projects .project {
    max-width: 1400px;
    margin-bottom: 20px;
}

.projects .web img {
    width: 100%;

}

.projects h1 {
    padding: 15px 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

.projects .description {
    padding: 10px 20px 20px 0;
}

.projects .description h2 {
    padding: 0 10px 5px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 2px solid white;

}

.projects .description p {
    padding: 10px 10px 20px 20px;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.projects .project:nth-of-type(odd) {
    background-color: orange;
}

.projects .project:nth-of-type(even) {
    background-color: #29a6dc;
}




/*ORIENTATION PORTRAIT*/

@media (orientation: portrait) and (min-width: 768px) {
    .projects h1 {
        font-size: 40px;
    }
    .projects .description h2 {
        padding-left: 40px;
        font-size: 24px;
    }
    .projects .description p {
        padding-left: 40px;
        font-size: 16px;
    }
}

/*ORIENTATION LANDSCAPE*/

@media (orientation: landscape) {
    .web,
    .description {
        width: 50%;
        float: left;
    }

    .web img {
        display: block;
    }

    .projects .description {
        padding-bottom: 0;
    }

    .projects .description h2 {
        margin-bottom: 5px;
    }

    .projects .project:nth-of-type(even) .web {
        float: right;
    }

    .projects .project:nth-of-type(even) .description {
        padding-right: 0;
    }

    .projects .project:nth-of-type(even) .description h2 {
        margin-left: 20px;
        padding-left: 0;
    }

    .projects .project:nth-of-type(even) .description p {
        padding-right: 20px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .projects {
        margin-top: 40px;
    }
    .projects h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 50px;

    }
    .projects .description h2 {
        margin-bottom: 15px;
        margin-top: 20px;
        padding-left: 40px;
        font-size: 28px;
    }

    .projects .project:nth-of-type(even) .description {
        padding-right: 0;
    }
    .projects .project:nth-of-type(even) .description h2 {
        margin-left: 40px;
        margin-right: 0;


    }

    .projects .description p {
        padding-left: 40px;
        font-size: 16px;
    }
}


/*MOTTO*/

.motto {
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.dark {
    background-color: rgba(21, 110, 153, .4);
    padding: 50px 10px;
}

.motto h1 {
    margin-bottom: 50px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.motto p {
    padding: 10px 10px 10px 10px;
    font-family: 'Saira', sans-serif;
    font-size: 16px;
}

.motto p.author {
    margin-top: 0;
    font-size: 11px;
}

@media (orientation: landscape) {
    .motto p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        ;
    }
}

@media (min-width:768px) {

    .dark {
        padding-bottom: 80px;
    }
    .motto h1 {
        font-size: 40px;
    }
    .motto p {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }

    .motto p.author {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    .motto h1 {
        font-size: 50px;
    }
}

@media (min-width: 1280px) {

    .dark {
        padding-bottom: 100px;
    }
    .motto h1 {
        margin-top: 80px;
    }

    .motto p {
        max-width: 60%;
        padding-bottom: 20px;
    }
}


/*HOBBY*/

.hobby {
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
}

.hobby h1 {
    padding: 20px 5px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.hobby .item {
    height: 25vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/hobby2.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/hobby1.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/books.jpg);
}

.hobby .item p {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 25vh;
    background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 532px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }

    .hobby .item p {
        line-height: 40vh;
    }
}

@media (min-width: 768px) {

    .hobby h1 {
        font-size: 40px;
    }

    .hobby .item {
        height: 30vh;
    }

    .hobby .item p {
        line-height: 30vh;
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .hobby h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 50px;
    }

    .hobby .item {
        background-size: 100%;
        transition: 0.6s;
    }

    .hobby .item p {
        opacity: 0;
        transition: 0.6s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item:hover {
        background-size: 110%;
    }
}

/*CONTACT*/

.contact {
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

.contact h1 {
    padding: 30px 10px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

.contactWrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}

.contactWrap form > * {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
}

.contact input {
    padding-left: 10px;
    height: 30px;
}

.contact textarea {
    padding-left: 10px;
    padding-top: 8px;
    min-height: 30vh;
}

.contact button {
    height: 40px;
    background-color: transparent;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid white;
}

.some {
    padding-top: 20px;
    padding-left: 15px;
}

.some .social {
    padding-bottom: 15px;
    font-family: 'Saira condensed', sans-serif;
    font-size: 16px;
}

.some .social img {
    float: left;
}

.some .social span {
    padding-left: 10px;
    float: left;
    line-height: 72px;
}

@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 49%;
    }
}

@media (min-width: 768px) {

    .contact h1 {
        font-size: 40px;
    }

    .contact input,
    .contact textarea {
        height: 40px;
        font-size: 16px;
    }

    .contact button {
        height: 60px;
        font-size: 18px;
    }

    .contact .social span {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {

    .contact h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 50px;
    }

    .contact input,
    .contact textarea {
        height: 50px;
        font-size: 18px;
    }

    .contact form,
    .contact .some {
        float: left;
        width: 50%;

    }

    .contact button {
        font-size: 22px;
        transition: .4s;
        cursor: pointer;
    }

    .contact button:hover {
        background-color: white;
        color: black;
    }

    .contact .some {
        padding-left: 30px;
        padding-top: 0;

    }

    .contact .social {
        display: block;
        width: 70%;
        margin: 0 auto;
    }
}

/*FOOTER*/

footer p {
    background-color: #29a6dc;
    font-family: 'Saira', sans-serif;
    color: white;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}

@media (min-width: 768px) {

    footer p {
        font-size: 20px;
        line-height: 60px;
    }
}

@media (min-width: 1024px) {

    footer p {
        font-size: 28px;
        line-height: 90px;
    }
}
